//
//  Config.xcconfig
//  DeUrgenta
//
//  Created by Cristi Habliuc on 01.04.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = ro.code4.DeUrgenta
DEVELOPMENT_TEAM = 442AHZGZ2T

// see CustomConfig.swift
// If adding a URL, use http:/$()/ to get around the comment issue in compiling
//API_URL =
